* {
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
}

window#waybar {
  background-color: transparent;
}

#workspaces,

#clock,
#custom-weather,

#custom-picker,
#network,
#cpu,
#memory,
#tray {
  padding: 0 10px;
  background-color: rgba(30, 30, 30, 0.75);
  border-radius: 20px;
}

#workspaces button {
  color: gray;
}

#workspaces button.active,
#clock {
  color: white;
}

#network {
  color: cyan;
}

#cpu {
  color: greenyellow;
}

#memory {
  color: darkorchid;
}